<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h1>Your Profile</h1>
    <h3>Username: {{ username }}</h3>
    <!-- Check if Spotify is logged in -->
    {% if spotify_logged_in %}
        <h3>Spotify username: {{ user }}</h3>
        <!-- Display Spotify profile picture if available -->
        {% if profile_pic %}
            <img src="{{ profile_pic }}" alt="Spotify Profile Picture" width="150" />
        {% else %}
            <p>No profile picture available</p>
        {% endif %}
    {% else %}
        <p>You are not connected to Spotify.</p>
    {% endif %}


</body>

</html>
